{
    "openapi": "3.0.1",
    "info": {
        "title": "Adobe Analytics APIs",
        "description": "The endpoints described here are routed through analytics.adobe.io. In order to use these endpoints you must create an oAuth client that is subscribed to access the Adobe Analytics Reporting API. \n\n To view the API References for non-core Analytics 2.0 APIs, select the **API Reference** drop-down menu at the top of the page. \n\n Note: Adobe may add optional request and response members (name/value pairs) to existing API objects at any time and without notice or changes in versioning. Adobe recommends that you refer to the API documentation of any third-party tool you integrate with our APIs so that such additions are ignored in processing if not understood. If implemented properly, such additions are non-breaking changes for your implementation. Adobe will not remove parameters or add required parameters without first providing standard notification through release notes.",
        "version": "2.0"
    },
    "servers": [
        {
            "url": "https://analytics.adobe.io/api"
        }
    ],
    "security": [
        {
            "authorization": [],
            "apiKey": []
        }
    ],
    "tags": [
        {
            "name": "Annotations"
        },
        {
            "name": "Calculated Metrics"
        },
        {
            "name": "Component Meta Data"
        },
        {
            "name": "Date Ranges"
        },
        {
            "name": "Dimensions"
        },
        {
            "name": "Metrics"
        },
        {
            "name": "Projects"
        },
        {
            "name": "Reports"
        },
        {
            "name": "Segments"
        },
        {
            "name": "Users"
        },
        {
            "name": "Usage logs"
        }
    ],
    "paths": {
        "/{globalCompanyId}/annotations": {
            "get": {
                "tags": [
                    "Annotations"
                ],
                "summary": "Retrieve all annotations.",
                "operationId": "listAnnotations",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expansion",
                        "in": "query",
                        "description": "Comma-delimited list of additional annotation metadata fields to include on response",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "description",
                                    "dateRange",
                                    "color",
                                    "applyToAllReports",
                                    "scope",
                                    "createdDate",
                                    "modifiedDate",
                                    "modifiedById",
                                    "owner",
                                    "companyId",
                                    "rsid",
                                    "approved",
                                    "favorite",
                                    "shares",
                                    "sharesFullName",
                                    "tags",
                                    "usageSummary",
                                    "usageSummaryWithRelevancyScore",
                                    "ownerFullName",
                                    "reportSuiteName"
                                ]
                            }
                        }
                    },
                    {
                        "name": "includeType",
                        "in": "query",
                        "description": "Include additional annotations not owned by user. The \"all\" option takes precedence over \"shared\"",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "all",
                                    "shared"
                                ]
                            }
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    },
                    {
                        "name": "filterByIds",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filterByModifiedAfter",
                        "in": "query",
                        "description": "Filter list to only include annotations modified since this date (ISO8601 format)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filterByDateRange",
                        "in": "query",
                        "description": "Filter list to only include annotations in the specified date range with format yyyy-MM-dd'T'HH:mm:ss/yyyy-MM-dd'T'hh:MM:ss",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (base 0 - first page is \"0\")",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "sortDirection",
                        "in": "query",
                        "description": "Sort direction (ASC or DESC",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sortProperty",
                        "in": "query",
                        "description": "Property to sort by (name, modified_date, id is currently allowed)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsePageAnalyticsAnnotation"
                                }
                            }
                        }
                    }
                },
                "description": "Retrieve all annotations."
            },
            "post": {
                "tags": [
                    "Annotations"
                ],
                "summary": "Create new annotation",
                "operationId": "createAnnotation",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expansion",
                        "in": "query",
                        "description": "Comma-delimited list of additional annotation metadata fields to include on response",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "description",
                                    "dateRange",
                                    "color",
                                    "applyToAllReports",
                                    "scope",
                                    "createdDate",
                                    "modifiedDate",
                                    "modifiedById",
                                    "owner",
                                    "companyId",
                                    "rsid",
                                    "approved",
                                    "favorite",
                                    "shares",
                                    "sharesFullName",
                                    "tags",
                                    "usageSummary",
                                    "usageSummaryWithRelevancyScore",
                                    "ownerFullName",
                                    "reportSuiteName"
                                ]
                            }
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    }
                ],
                "requestBody": {
                    "description": "JSON-formatted Object containing date range keys/value pairs to be updated",
                    "content": {
                        "*/*": {
                            "schema": {
                                "$ref": "#/components/schemas/AnalyticsAnnotation"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsAnnotation"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body",
                "description": "Create new annotation."
            }
        },
        "/{globalCompanyId}/annotations/{id}": {
            "get": {
                "tags": [
                    "Annotations"
                ],
                "summary": "Get existing annotation",
                "operationId": "getAnnotation",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expansion",
                        "in": "query",
                        "description": "Comma-delimited list of additional annotation metadata fields to include on response",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "description",
                                    "dateRange",
                                    "color",
                                    "applyToAllReports",
                                    "scope",
                                    "createdDate",
                                    "modifiedDate",
                                    "modifiedById",
                                    "owner",
                                    "companyId",
                                    "rsid",
                                    "approved",
                                    "favorite",
                                    "shares",
                                    "sharesFullName",
                                    "tags",
                                    "usageSummary",
                                    "usageSummaryWithRelevancyScore",
                                    "ownerFullName",
                                    "reportSuiteName"
                                ]
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Annotation ID to retrieve",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsAnnotation"
                                }
                            }
                        }
                    }
                },
                "description": "Get existing annotation."
            },
            "put": {
                "tags": [
                    "Annotations"
                ],
                "summary": "Update existing annotation",
                "operationId": "updateAnnotation",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expansion",
                        "in": "query",
                        "description": "Comma-delimited list of additional annotation metadata fields to include on response",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "description",
                                    "dateRange",
                                    "color",
                                    "applyToAllReports",
                                    "scope",
                                    "createdDate",
                                    "modifiedDate",
                                    "modifiedById",
                                    "owner",
                                    "companyId",
                                    "rsid",
                                    "approved",
                                    "favorite",
                                    "shares",
                                    "sharesFullName",
                                    "tags",
                                    "usageSummary",
                                    "usageSummaryWithRelevancyScore",
                                    "ownerFullName",
                                    "reportSuiteName"
                                ]
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Annotation ID to update",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    }
                ],
                "requestBody": {
                    "description": "JSON-formatted Object containing date range keys/value pairs to be updated",
                    "content": {
                        "*/*": {
                            "schema": {
                                "$ref": "#/components/schemas/AnalyticsAnnotation"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsAnnotation"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body",
                "description": "Update existing annotation."
            },
            "delete": {
                "tags": [
                    "Annotations"
                ],
                "summary": "Delete existing annotation",
                "operationId": "deleteAnnotation",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Annotation ID to update",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteResponse"
                                }
                            }
                        }
                    }
                },
                "description": "Delete existing annotation."
            }
        },
        "/{globalCompanyId}/calculatedmetrics": {
            "get": {
                "tags": [
                    "Calculated Metrics"
                ],
                "summary": "Retrieve multiple calculated metrics",
                "description": "A calculated metric response will always include these default items: *id, name, description, rsid, owner, polarity, precision, type* \n\nOther attributes can be optionally requested through the 'expansion' field:\n\n* *modified*: Date that the metric was last modified (ISO 8601)\n* *definition*: Calculated metric definition as JSON object\n* *compatibility*: Products that the metric is compatible with\n* *reportSuiteName*: Also return the friendly report suite name for the RSID\n* *tags*: Gives all existing tags associated with the calculated metric\n\nFor more information, see the [Calculated Metrics API endpoint guide](https://developer.adobe.com/analytics-apis/docs/2.0/guides/endpoints/calculatedmetrics/)\n\n",
                "operationId": "findCalculatedMetrics",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rsids",
                        "in": "query",
                        "description": "Filter list to only include calculated metrics tied to specified RSID list (comma-delimited)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ownerId",
                        "in": "query",
                        "description": "Filter list to only include calculated metrics owned by the specified loginId",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "filterByIds",
                        "in": "query",
                        "description": "Filter list to only include calculated metrics in the specified list (comma-delimited list of IDs) (this is the same as calculatedMetricFilter, and is overwritten by calculatedMetricFilter",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "toBeUsedInRsid",
                        "in": "query",
                        "description": "The report suite where the calculated metric intended to be used.  This report suite will be used to determine things like compatibility and permissions.  If it is not specified then the permissions will be calculated based on the union of all metrics authorized in all groups the user belongs to.  If the compatibility expansion is specified and toBeUsedInRsid is not then the compatibility returned is based off the compatibility from the last time the calculated metric was saved",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filter list to only include calculated metrics that contains the Name",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tagNames",
                        "in": "query",
                        "description": "Filter list to only include calculated metrics that contains one of the tags",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "favorite",
                        "in": "query",
                        "description": "Filter list to only include calculated metrics that are favorites",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "approved",
                        "in": "query",
                        "description": "Filter list to only include calculated metrics that are approved",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (base 0 - first page is \"0\")",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "sortDirection",
                        "in": "query",
                        "description": "Sort direction (ASC or DESC)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "ASC"
                        }
                    },
                    {
                        "name": "sortProperty",
                        "in": "query",
                        "description": "Property to sort by (name, modified_date, id is currently allowed)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "id"
                        }
                    },
                    {
                        "name": "expansion",
                        "in": "query",
                        "description": "Comma-delimited list of additional calculated metric metadata fields to include on response",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "reportSuiteName",
                                    "ownerFullName",
                                    "modified",
                                    "tags",
                                    "definition",
                                    "compatibility",
                                    "categories"
                                ]
                            },
                            "enum": [
                                "reportSuiteName",
                                "ownerFullName",
                                "modified",
                                "tags",
                                "definition",
                                "compatibility",
                                "categories"
                            ]
                        }
                    },
                    {
                        "name": "includeType",
                        "in": "query",
                        "description": "Include additional calculated metrics not owned by user. The \"all\" option takes precedence over \"shared\"",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "all",
                                    "shared",
                                    "templates"
                                ]
                            },
                            "enum": [
                                "all",
                                "shared",
                                "templates"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AnalyticsCalculatedMetric"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to retrieve list of calculated metrics shared with user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Owner filter error; user specified is not in the same company as the requesting user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Requesting non-shared calculated metrics for other users is restricted to admin users",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "External API error; Calculated metric retrieval failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Calculated Metrics"
                ],
                "summary": "Create a new calculated metric",
                "description": "Creates a new calculated metric. The following attributes are available when creating a calculated metric:\n\nIMPORTANT: Required Fields: name, definition, rsid\n\nOptional fields: description\n\nExample definition for use in testing API below (\"Visits per visitor\"):\n\n```json\n\n\"definition\": {\r\n      \"formula\": {\r\n        \"func\": \"divide\",\r\n        \"col1\": {\r\n          \"func\": \"metric\",\r\n          \"name\": \"metrics/visits\",\r\n          \"description\": \"Visits\"\r\n        },\r\n        \"col2\": {\r\n          \"func\": \"metric\",\r\n          \"name\": \"metrics/visitors\",\r\n          \"description\": \"Unique Visitors\"\r\n        }\r\n      },\r\n      \"func\": \"calc-metric\",\r\n      \"version\": [\r\n        1,\r\n        0,\r\n        0\r\n      ]\r\n    }\n```\n\nA calculated metric response will always include these default items:* id, name, description, rsid, owner* \n\nAdditional attributes can be optionally requested in the 'expansion' field as described in the GET calculated metrics section.",
                "operationId": "createCalculatedMetric",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    },
                    {
                        "name": "expansion",
                        "in": "query",
                        "description": "Comma-delimited list of additional calculated metric metadata fields to include on response",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "reportSuiteName",
                                    "ownerFullName",
                                    "modified",
                                    "tags",
                                    "definition",
                                    "compatibility",
                                    "categories"
                                ]
                            },
                            "enum": [
                                "reportSuiteName",
                                "ownerFullName",
                                "modified",
                                "tags",
                                "definition",
                                "compatibility",
                                "categories"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "JSON-formatted Object containing key/value pairs for calculated metric creation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AnalyticsCalculatedMetric"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsCalculatedMetric"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input; name, rsid, and definition are all required. Definition must be formatted as a JSON Object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "External API error; Calculated metric create or retrieval failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/{globalCompanyId}/calculatedmetrics/functions": {
            "get": {
                "tags": [
                    "Calculated Metrics"
                ],
                "summary": "Retrieve calculated metric functions",
                "operationId": "getCalculatedMetricFunctions",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CalcMetricFunction"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "External API error; Calculated metric functions retrieval failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    }
                },
                "description": "Retrieve calculated metric functions."
            }
        },
        "/{globalCompanyId}/calculatedmetrics/functions/{id}": {
            "get": {
                "tags": [
                    "Calculated Metrics"
                ],
                "summary": "Retrieve a calculated metric function by ID",
                "operationId": "getCalculatedMetricFunction",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The function ID to retrieve",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalcMetricFunction"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Calculated metric function not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "External API error; Calculated metric function retrieval failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    }
                },
                "description": "Retrieve a calculated metric function by ID."
            }
        },
        "/{globalCompanyId}/calculatedmetrics/validate": {
            "post": {
                "tags": [
                    "Calculated Metrics"
                ],
                "summary": "Validate a calculated metric definition",
                "operationId": "validateCalculatedMetric",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    },
                    {
                        "name": "migrating",
                        "in": "query",
                        "description": "Include migration functions in validation",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "requestBody": {
                    "description": "JSON-formatted Object containing key/value pairs for calculated metric validation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AnalyticsCalculatedMetric"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsCalculatedMetric"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input; name, rsid, and definition are all required. Definition must be formatted as a JSON Object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "External API error; Calculated metric validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body",
                "description": "Validate a calculated metric definition."
            }
        },
        "/{globalCompanyId}/calculatedmetrics/{id}": {
            "get": {
                "tags": [
                    "Calculated Metrics"
                ],
                "summary": "Retrieve a single calculated metric by ID",
                "description": "A calculated metric response will always include these default items: *id, name, description, rsid, owner, polarity, precision, type* \n\nOther attributes can be optionally requested through the 'expansion' field:\n\n* *modified*: Date that the metric was last modified (ISO 8601)\n* *definition*: Calculated metric definition as JSON object\n* *compatibility*: Products that the metric is compatible with\n* *reportSuiteName*: Also return the friendly report suite name for the RSID\n* *tags*: Gives all existing tags associated with the calculated metric\n\nFor more information, see the [Calculated Metrics API endpoint guide](https://developer.adobe.com/analytics-apis/docs/2.0/guides/endpoints/calculatedmetrics/)\n\n",
                "operationId": "findOneCalculatedMetric",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The calculated metric ID to retrieve",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    },
                    {
                        "name": "expansion",
                        "in": "query",
                        "description": "Comma-delimited list of additional calculated metric metadata fields to include on response",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "reportSuiteName",
                                    "ownerFullName",
                                    "modified",
                                    "tags",
                                    "definition",
                                    "compatibility",
                                    "categories"
                                ]
                            },
                            "enum": [
                                "reportSuiteName",
                                "ownerFullName",
                                "modified",
                                "tags",
                                "definition",
                                "compatibility",
                                "categories"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsCalculatedMetric"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Requesting non-shared calculated metrics for other users is restricted to admin users",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "External API error; calculated metric retrieval failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Calculated Metrics"
                ],
                "summary": "Update an existing calculated metric",
                "description": "The following fields can be modified through this endpoint: <br/><b>name, description, definition, owner, rsid</b>\nExample \"defintion\" for use in testing API below (\"Visits per visitor\"):<br/>\n\"definition\": {\r\n      \"formula\": {\r\n        \"func\": \"divide\",\r\n        \"col1\": {\r\n          \"func\": \"metric\",\r\n          \"name\": \"metrics/visits\",\r\n          \"description\": \"Visits\"\r\n        },\r\n        \"col2\": {\r\n          \"func\": \"metric\",\r\n          \"name\": \"metrics/visitors\",\r\n          \"description\": \"Unique Visitors\"\r\n        }\r\n      },\r\n      \"func\": \"calc-metric\",\r\n      \"version\": [\r\n        1,\r\n        0,\r\n        0\r\n      ]\r\n    }<br/><br/>Response will be the newly modified calculated metric object after the update request completes.<br/><br/><b><span style=\"text-decoration: underline;\">CalculatedMetricResponse</span></b><br/>A calculated metric response will always include these default items:* id, name, description, rsid, owner* \n\nAdditional attributes can be optionally requested in the 'expansion' field as described in the GET calculated metrics section.",
                "operationId": "updateCalculatedMetric",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Calculated Metric ID to be updated",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    },
                    {
                        "name": "expansion",
                        "in": "query",
                        "description": "Comma-delimited list of additional calculated metric metadata fields to include on response",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "reportSuiteName",
                                    "ownerFullName",
                                    "modified",
                                    "tags",
                                    "definition",
                                    "compatibility",
                                    "categories"
                                ]
                            },
                            "enum": [
                                "reportSuiteName",
                                "ownerFullName",
                                "modified",
                                "tags",
                                "definition",
                                "compatibility",
                                "categories"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "JSON-formatted Object containing key/value pairs to be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AnalyticsCalculatedMetric"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsCalculatedMetric"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Definition must be formatted as a JSON Object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Company mismatch; calculated metric ownership can only be transferred within the same organization",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "User does not have permission to update this calculated metric",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "External API error; Calculated metric update or retrieval failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            },
            "delete": {
                "tags": [
                    "Calculated Metrics"
                ],
                "summary": "Delete calculated metrics by ID",
                "operationId": "deleteCalculatedMetric",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The calculated metric ID to be deleted",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "External API error; Calculated metric delete failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalculatedMetricErrorStatus"
                                }
                            }
                        }
                    }
                },
                "description": "Delete calculated metrics by ID."
            }
        },
        "/{globalCompanyId}/componentmetadata/shares": {
            "get": {
                "tags": [
                    "Component Meta Data"
                ],
                "summary": "Retrieve components shared by user",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeType",
                        "in": "query",
                        "description": "Include additional shares not owned by the user",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "sharedTo"
                                ]
                            }
                        }
                    },
                    {
                        "name": "userid",
                        "in": "query",
                        "description": "The user ID to return details for. Only admins may use this option",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (base 0 - first page is \"0\")",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Share"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unable to retrieve list of components.",
                        "content": {}
                    }
                },
                "operationId": "findAllSharesForCompany",
                "description": "Retrieve components shared by user."
            },
            "put": {
                "tags": [
                    "Component Meta Data"
                ],
                "summary": "Update shared components with users",
                "description": "Warning: Deletes and overwrites all pre-existing shares for given components. Create one/many shares for one/many components at once. For each component object in the passed list, the given shares will replace the current set of shares for each component. For example, if one of the components was previously shared with additional users, and that share is not passed in here, it will no longer be shared with them.<br>",
                "operationId": "updateSharesForComponents",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    },
                    {
                        "name": "useCache",
                        "in": "query",
                        "description": "Use caching for faster requests",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "requestBody": {
                    "description": "JSON-formatted ARRAY of objects containing key-value pairs that conform to the schema",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/SharedComponent"
                                }
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SharedComponent"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unable to save list of component shares",
                        "content": {}
                    },
                    "403": {
                        "description": "Permission error; user does not have access for the requested operation",
                        "content": {}
                    },
                    "400": {
                        "description": "Invalid component type, or mixed component types on request (only one type per request)",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "body"
            },
            "post": {
                "tags": [
                    "Component Meta Data"
                ],
                "summary": "Share component with user",
                "description": "Note that only the following component types are currently supported: \"segment\", \"project\"<br>There are three valid values for \"shareToType\":<br><b>\"all\"</b>: Shares the component to all users in the organization. For this operation, \"shareToId\" is not required (ignored if sent)<br><b>\"user\"</b>: Shares the component with a specific user. For this operation, \"shareToId\" (the loginId of the user to share to) is required.<br><b>\"group\"</b>: Shares the component with an entire custom user group as defined in the Admin Console. For this operation, \"shareToId\" (the groupId of the group to share to) is required.",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    }
                ],
                "requestBody": {
                    "description": "JSON-formatted Share object containing key-value pairs that conform to the Share schema",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Share"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Share"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unable to share component",
                        "content": {}
                    },
                    "403": {
                        "description": "Permission error; user does not have access share the component",
                        "content": {}
                    },
                    "400": {
                        "description": "Invalid component type",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "body",
                "operationId": "saveShareMyCompany"
            }
        },
        "/{globalCompanyId}/componentmetadata/shares/component/search": {
            "post": {
                "tags": [
                    "Component Meta Data"
                ],
                "summary": "Create search for shared components",
                "operationId": "searchComponentShares",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    },
                    {
                        "name": "expansion",
                        "in": "query",
                        "description": "Comma-delimited list of additional project metadata fields to include on response",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "sharesFullName"
                                ]
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (base 0 - first page is \"0\")",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "requestBody": {
                    "description": "items to search for",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ComponentSearch"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SavedSharedComponent"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body",
                "description": "Create search for shared components."
            }
        },
        "/{globalCompanyId}/componentmetadata/shares/{id}": {
            "get": {
                "tags": [
                    "Component Meta Data"
                ],
                "summary": "Retrieve details of share by ID",
                "operationId": "getShareById",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The share ID to return details for",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Share"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unable to retrieve share",
                        "content": {}
                    },
                    "403": {
                        "description": "Permission error; user does not have access to the share",
                        "content": {}
                    },
                    "400": {
                        "description": "Invalid component type",
                        "content": {}
                    }
                },
                "description": "Retrieve details of share by ID."
            },
            "delete": {
                "tags": [
                    "Component Meta Data"
                ],
                "summary": "Delete share by ID",
                "description": "Delete by shareId and remove that share from all associated components.",
                "operationId": "deleteShare",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The shareId to be deleted",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Locale",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "en_US"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object",
                                        "properties": {}
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unable to delete share",
                        "content": {}
                    },
                    "403": {
                        "description": "Permission error; user does not have access to delete the component",
                        "content": {}
                    }
                }
            }
        },
        "/{globalCompanyId}/componentmetadata/shares/sharedto/me": {
            "get": {
                "tags": [
                    "Component Meta Data"
                ],
                "summary": "Retrieve component IDs shared with user",
                "operationId": "getComponentsSharedToMe",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "componentType",
                        "in": "query",
                        "description": "ComponentType to return",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "uniqueItems": true,
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Retrieve component IDs shared with user."
            }
        },
        "/{globalCompanyId}/componentmetadata/tags/component/search": {
            "post": {
                "tags": [
                    "Component Meta Data"
                ],
                "summary": "Create search for component tags",
                "operationId": "searchComponentTags",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (base 0 - first page is \"0\")",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "requestBody": {
                    "description": "items to search for",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ComponentSearch"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaggedComponent"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body",
                "description": "Create search for component tags."
            }
        },
        "/{globalCompanyId}/componentmetadata/tags": {
            "get": {
                "tags": [
                    "Component Meta Data"
                ],
                "summary": "Retrieve tags for current user company",
                "operationId": "findAllTagsForCompany",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (base 0 - first page is \"0\")",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tag"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unable to retrieve list of tags for user.",
                        "content": {}
                    }
                },
                "description": "Retrieve tags for current user company."
            },
            "post": {
                "tags": [
                    "Component Meta Data"
                ],
                "summary": "Create tags for current user company",
                "description": "Allows creation of a new tag and applies that new tag to the passed component",
                "operationId": "saveTagListForCompany",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "JSON-formatted array of Tag objects containing key-value pairs",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Tag"
                                }
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tag"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unable to save list of tags.",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "body"
            },
            "delete": {
                "tags": [
                    "Component Meta Data"
                ],
                "summary": "Delete tags from components",
                "description": "Removes all tags from the passed componentIds. Note that currently this is done in a single DB query, so there is a single combined response for the entire operation.",
                "operationId": "deleteTagItemsFromComponents",
                "parameters": [
                    {
                        "name": "globalCompanyId",
                        "in": "path",
                        "description": "The Global Company ID for the Adobe Analytics organization",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "componentIds",
                        "in": "query",
                        "description": "Comma-separated list of componentIds to operate on",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "componentType",
                        "in": "query",
                        "description": "The component type to operate on",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "segment",
                                "dashboard",
                                "bookmark",
                                "calculatedMetric",
                                "project",
                                "dateRange",
                                "metric",
                                "dimension",
                                "virtualReportSuite",
[...]
